@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav, .team-container {
        flex-direction: column;
        
    }
    .banner-content{
        width: 100%;
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
    .team-img-container img{
        width: 100%;
    }
    .team-content {
        padding-left: 20px;
        width: 90%;
        margin: 0px auto;
    }
    .team-des{
        text-align: justify;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 40px;
    }
    nav,.team-container {
        flex-direction: column;
        
    }
    .banner-content{
        width: 100%;
    }
    .team-content {
        padding-left: 20px;
        width: 70%;
        margin: 0px auto;
        text-align: center;
    }
}